body {
    background-color: lightblue;
    box-sizing: border-box;
    
}

#center {
    background-color: aqua;
    width: 500px;
    height: 500px;
    margin: 100px auto;
}

#i0 , #i1 , #i2 {
    background-color: dimgray;
    width: 100px;
    height: 50px;
    margin: 50px auto;
    text-align:center;
}